@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.blackdiv {
 
  height: max-content;
  width: 100%;
  background: black;


}
.firstbell {
 
   width: fit-content;
  display: flex;
  align-items: center;
 padding: 5px;
}
.first {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}


@keyframes bellVibration {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-45deg);
  }
  45% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  60% {
    transform: rotate(25deg);
  }
  70% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.bellimage {
  animation: bellVibration 0.5s linear infinite;
  animation-play-state: paused;
}

.active {
  animation-play-state: running;
}

.nameee {

  width: 150px !important;
font-size: 12px;
  @media (max-width: 500px) {

    width: 100% !important;
  }
}
.namee {

  width: 150px !important;
font-size: 12px;
  @media (max-width: 500px) {

    width: 300px!important;
  }
}
.flextop {
  display: flex;
  align-items: center;
  width: 30%;
 
}
.contact {
   display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 500px) {
    display: grid;
    gap: 10px;
    align-items: center;
    padding: 5px;

  }
}
