@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.blackdiv {
  height: max-content;
  width: 99%;
  background: black;

  padding-left: 1%;

  @media (max-width: 500px) {
    height: 80px;
    width: 99%;
  }
}
.firstbell {
  width: 100%;
  display: flex;
  align-items: center;
}
.first {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}


@keyframes bellVibration {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-45deg);
  }
  45% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  60% {
    transform: rotate(25deg);
  }
  70% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}

.bellimage {
  animation: bellVibration 0.5s linear infinite;
  animation-play-state: paused;
}

.active {
  animation-play-state: running;
}
.namediv{
  width: 97%;
}
.nameee {
 width: 150px !important;
font-size: 12px;
  @media (max-width: 500px) {
    width: 160px;
  }
}
.flextop {
  display: flex;
  align-items: center;

 
}
.contact {
   display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  padding-left: 3%;
   padding-right: 3%;
  @media (max-width: 500px) {
    display: grid;
    padding-right:0% !important;

  }
}
