@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.companieslist{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .carousel {
    overflow: hidden;
    width: 100%;
    //  height: 48em;
      margin: 0% 0% 14% 2%; 
      background-color: #f9f9f9;
      box-shadow: none;
  }

.carouselItems {

  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 27px;
  padding: 10px;
  background: none;

}
.textedit{
  font-size: calc(10px + (18 - 10) * (100vw - 445px) / (1440 - 445)) !important;
  font-weight: 500 !important;
}
.imgwidth{
  width: 25px;
  cursor: pointer;
}
.gridMode{
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
}
.flex{
  width: 95%;
  display: grid;
  grid-template-columns: repeat(1,1fr) ;
 align-content: center;
}
.icon {
  width: 800px;
   height:max-content;
  flex-shrink: 0;
  border-radius: 20px;
padding: 10px;
  background: #fff;
 &:hover{
   box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);
 }
  .border {
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
     margin-left: 35%;

  }
}

.flexitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.butttonsetting{
  font-size: 15px !important;
  color: $Primary-color !important;
   background: $Tertiary-color !important;
  gap: 10px !important;
  margin: 2px 6px !important;
  border: 1px solid !important;
  &:hover{
    background: $Primary-color !important;
    color:$Tertiary-color !important;
  }

}

.btndivsetting{
  width: 100% !important; 

}
.ptextss{
    margin-top: 10px;
  @include font18;
  padding-left: 1%;
  font-weight: 600;
  color: #111111;
  cursor: pointer;
  &:hover{
    color: $Primary-color;

  }
}
.butnflex{
  display: flex;
  // gap: 15px;
 justify-content: space-between;
  width: 100%;
}
.starrate{
  display: flex;
  align-items: center;
}
.btnsetting{
   border: none !important;
  background: none !important;
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  color: $fifth-color !important;
  font-weight: 500 !important;
  
  height: 32px !important;
  &:hover{
    background:none !important;
    border-radius: 1px !important;
    border-bottom: 1px solid $fifth-color !important;

  }
}
.btnset{
    border: none !important;
    background: none !important;
    border: none !important;
    font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
    color: $Primary-color !important;
     font-weight: 500 !important;
    height: 32px !important;
    &:hover{
      background:none !important;
      border-radius: 1px !important;
      border-bottom: 1px solid $fifth-color !important;
  
    }
  }
  .setingnamebtndiv{
    // border: 1px solid red;
    margin-left: -15px !important;
    
  
  }
  .gridsettingdiv{
    margin-top: -15px;
    margin-left: -7px;
  }
.btntextflex{
  // margin-top: 20px  !important;
  display: flex;
  gap: 10px;
//   padding-top: 5%;
}
.btntextgrid {
    display: grid !important;
    width: fit-content !important;
    grid-template-columns: repeat(4,30%);
    padding-top: 4%;
    gap: 10px;
  }
  
  .btntextgrid > :nth-child(2) {
    grid-column: span 3;
   margin: 0 auto;
  }

.btndivseting{
  width: 30%;
  
}
.lastdivsetting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lastdivsettinggrid{
    display: grid;
    // align-items: center;
    // justify-content: space-between;
}
.txt{
  font-family: Inter !important;
  font-size: 15px !important;
  font-weight: normal !important;
  letter-spacing: inherit !important;
   
   height: 10px !important;
   line-height: 1 !important;
//   margin-top: 100px !important;
}
.textdiv{
    // margin-top: 5px;
    padding: 1% !important;
}
.butttons{
  background: #ecfff6 !important;
  color: #4cbe6a !important;
  height: 30px !important;
  
}
.infocandidate{
    // background-color: rgba(0,116,86,0.05);
    
}
.info{
    color: #007456;
     width: max-content;
    background-color: rgba(0,116,86,0.05);
    font-size: 14px;
    font-weight: 500;
    height: max-content;
    padding: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
}
.textrating{
  font-weight: 500;
  color:#007456;
  margin-left: -23px;
  margin-bottom: 3px;
}
.buutttndiv{
  // margin-top: 20px;
  width: 30%;
}
.imgset{
  width: 40%
}
.lasttext{
  @include fonth5;
  font-weight: 500;
  color:$Primary-color;
}
.textt{
    @include fonth5;
    font-weight: 500;
    color: #4f4e4e;
 line-height: 65px;
}
.carousel {

  .dotsContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px; 

    .dot {
      width: 7px;
      height: 7px;
      background-color: rgb(214, 214, 214); 
      opacity: 0.8;
      border-radius: 50%;
       margin: 0 10px;
      // margin-top: -30px;

      &.activeDot {
        background-color: $Primary-color; 
        
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

}

.flexdivv{
  display: flex;
//    align-items: center;
}
.griddivvv{
  display: flex;
  flex-direction: column;
 
}
.flexxbtn{
   display: flex;
   justify-content: space-between;
   width: 100%;

 
}
.flexxbtndiv{
    display: flex;
    margin-top: -20px;
    // border:1px solid red;
}
.picdivvvvv{
    margin-top: 9px;
}
.img{
    width: 64px;
    height: 64px;
    object-fit: cover;
    background-color: #f9f9f9;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}
.imgst{
  width: 100%;
}
.textrate{
  font-weight: 500;
  color:#007456;
  margin-bottom: 3px;
}
.divsettt{
  display: flex;
 justify-content: center;
  flex-direction: column;

}
.ptexts{
  @include font18;
  padding-left: 5% !important;
  font-weight: 600;
  color: #111111;
  cursor: pointer;
  &:hover{
    color: $Primary-color;

  }
}
.flexmaindiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.butonsetting{
  font-size: 15px;
  color: $Primary-color;
  background: $Tertiary-color;
  gap: 10px;
  border: 1px solid ;
  &:hover{
    color:$Tertiary-color;
  }
}
.btndivsettg{
  width: 100%;
}