@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.portion1 {
  padding-top: 3%;
}
.portion2 {
  height: max-content;
}
.title {
  width: 100% !important;
  font-size: calc(
    16px + (16 - 16) * (100vw - 445px) / (1440 - 445)
  ) !important ;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
  text-align: center !important;
  line-height: 1 !important;
}
.title1 {
  font-size: calc(
    16px + (18 - 16) * (100vw - 445px) / (1440 - 445)
  ) !important ;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
  text-align: center !important;
  line-height: 1 !important;
  @media (max-width: 500px) {
    width: 20% !important;
    margin-left: 180px;
  }
}
.title2 {
  font-size: calc(
    16px + (18 - 16) * (100vw - 445px) / (1440 - 445)
  ) !important ;
  font-weight: 600 !important;
  letter-spacing: 0.5px !important;
  text-align: center !important;
  line-height: 1 !important;
  @media (max-width: 500px) {
    width: 40% !important;
    margin-left: 100px;
  }
}
.parag {
  font-size: calc(18px + (29 - 18) * (100vw - 320px) / (1440 - 320)) !important;

  width: 80% !important;
  text-align: center !important;
  margin: 0 auto !important;
  color: #111111 !important;
  font-weight: 700 !important;
  line-height: 1 !important;
}
.para {
  font-size: calc(24px + (32 - 24) * (100vw - 445px) / (1440 - 445)) !important;
  color: $eight-color !important;
  font-weight: 500 !important;
  text-align: center !important;
}
.mapimg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  @media (max-width: 500px) {
    display: none;
  }
}
.imgset {
  width: 100%;
}
.midpic {
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}
.portion2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6%;
}
.para2 {
  font-size: calc(18px + (28 - 18) * (100vw - 320px) / (1440 - 320)) !important;
  color: $eight-color !important;
  font-weight: 400 !important;
  text-align: center !important;
  line-height: 1.2 !important;
  @media (max-width: 500px) {
    width: 300px !important;
  }
}
.textdiv {
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divcont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}
.nummap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid lightgray;
  width: 80%;
  height: 170px;
  @media (max-width: 500px) {
    border-top: none !important;
    height: max-content !important;
    display: grid !important;

    margin-left: 100px;
    grid-template-columns: repeat(2, 1fr);
  }

  .innermapdiv {
    border-left: 1px solid lightgray;
    padding-left: 2%;
    height: 170px;
    width: 20%;
    display: flex;
    justify-content: center;
    &:first-child {
      border: none;
    }
    @media (max-width: 500px) {
      height: 150px;
      border-left: none !important;
    }
  }
}
.editingtext {
  font-size: calc(40px + (56 - 40) * (100vw - 445px) / (1440 - 445)) !important;
  color: $Primary-color !important;
  font-weight: 600 !important;
}
.editingpara {
  font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1440 - 320)) !important;
  text-align: center !important;
  font-weight: 500 !important;
  color: #111111 !important;
}

.portion3 {
  height: max-content;
  width: 100%;
}
.portion3subdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.mappingcard {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
}
.maindivv {
  width: 100% !important;
  height: max-content !important;
  @media (max-width: 500px) {
    width: 80%;
  }
}
.picsett {
  @media (max-width: 500px) {
    width: 70% !important;
    margin-left: 25px !important;
  }
}
.borderppic {
  border-radius: 180px !important;
  width: 360px !important;
  @media (max-width: 500px) {
    width: 160px !important;
  }
}
.date {
  padding-left: 32% !important;
  color: $eight-color !important;
  font-weight: 600 !important;
  font-size: calc(14px + (22 - 14) * (100vw - 320px) / (1440 - 320)) !important;
}
.paragraph {
  text-align: center !important;
  font-size: calc(10px + (18 - 10) * (100vw - 320px) / (1440 - 320)) !important;
  font-weight: 400 !important;
  color: #555555 !important;
  &:hover {
    color: #555555 !important;
  }
}
.picbutonflex {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btndi {
  width: 20% !important;
  @media (max-width: 500px) {
    width: 40% !important;
  }
}
.btndivset {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.btnedit {
  font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1440 - 320)) !important;
  background: none !important;
  color: $Primary-color !important;
  border: 1px solid $Primary-color !important;
  &:hover {
    background: $Primary-color !important;
    color: $Tertiary-color !important;
  }
}
.portion4 {
  background: #f8f9fc;
  height: 500px;
}
.portion4subdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}
.paradesc {
  font-size: calc(18px + (29 - 18) * (100vw - 320px) / (1440 - 320)) !important;
  color: #111111 !important;
  text-align: center !important;
  line-height: 1 !important;
  font-weight: 500 !important;
}
.settingarrow {
  position: absolute;
  top: 30% !important;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cardslide {
  display: flex;
  justify-content: center;
  height: 500px;
  overflow: hidden;
}
.portion5 {
  height: max-content;
  padding-top: 5%;
  .p5subdiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 500px) {
      display: grid;
    }
    .textwidth {
      padding-left: 3% !important;
    }
  }
  .buidimgdiv {
    display: flex;
    gap: 10px;
    @media (max-width: 500px) {
      display: grid;
    }
  }
}
.settingsdivbuton {
  margin-top: -40px;
}
.titltle {
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  font-weight: 500 !important;
  line-height: 2 !important;
}
.textmapdiv {
  @media (max-width: 500px) {
    padding-left: 130px !important;
  }
}
.paradescribe {
  font-size: calc(18px + (29 - 18) * (100vw - 320px) / (1440 - 320)) !important;
  color: #111111 !important;
  width: 55% !important;
  line-height: 1 !important;
  font-weight: 600 !important;
}
.imgwidth {
  height: 550px;
}

.picbtnwidth {
  width: 30% !important;
  @media (max-width: 500px) {
    margin: 0 auto;
  }
}
.picbtnseting {
  background: none !important;
  // border: 1px solid red;
  color: black !important;
  margin-left: -10px !important;
  font-size: calc(10px + (18 - 10) * (100vw - 320px) / (1440 - 320)) !important;
  gap: 5px !important;
  border: none !important;
  font-weight: 600 !important;
  &:hover {
    background: none !important;
  }
}
.txtpara {
  font-size: calc(10px + (18 - 10) * (100vw - 320px) / (1440 - 320)) !important;
  width: 60% !important;
  line-height: 1 !important;
  padding-left: 5% !important;
  margin-top: -55px !important;
  @media (max-width: 500px) {
    margin: 0 auto;
    margin-top: -100px !important;
  }
}
.btndivsett {
  display: flex;
  justify-content: center;
}
.alsttt {
  padding-top: 5%;
}
.lasttitle {
  font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1440 - 320)) !important;
  color: $Tertiary-color !important;
  font-weight: 500;
  text-align: center !important;

  line-height: 1 !important;
  @media (max-width: 500px) {
    width: 60% !important;
    margin-left: 100px !important;
  }
}
.lastpara {
  font-size: calc(20px + (28 - 20) * (100vw - 445px) / (1440 - 445)) !important;
  text-align: center !important;
  font-weight: 500 !important;
  width: 80% !important;
  margin: 0 auto;
  line-height: 1 !important;
  color: $Tertiary-color !important;
}

.btndsett {
  width: 20% !important;
  @media (max-width: 500px) {
    width: 30% !important;
  }
}
.btninnerset {
  font-size: calc(12px + (15 - 12) * (100vw - 320px) / (1440 - 320)) !important;
  color: $eight-color !important;
  background: $Tertiary-color !important;
  border: none !important;
  &:hover {
    background: $fifth-color !important;
  }
}
.textmapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.lastportion {
  border-top: 0.5px solid #e5e5e5;
}
.divportion10flex {
  display: flex;
  padding: 6%;
  align-items: center;
}
.butontexteit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 7%;
}
.btndivedit {
  width: 200px !important;
}
.textmap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30%;
}

.footersub {
  display: flex;
}
.subdivision {
  display: flex;
  padding: 4%;
}
.textmapedit {
  width: 40%;
}

.t {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
}
.p {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 20px !important;
  width: 90% !important;
}
.d {
  font-size: calc(12px + (19 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
  width: 35% !important;
  &:hover {
    color: $Primary-color !important;
  }
}
.lastdiv {
  border-top: 0.5px solid #e5e5e5;
  padding-left: 3%;
}
.background {
  background: $Primary-color !important;
  height: 80px !important;
  width: 80px !important;
}
.picsetting {
  width: 60px !important;
  height: 50px !important;
}
.footer {
  border-top: 0.5px solid #e5e5e5;
}
.lastportion {
  border-top: 0.5px solid #e5e5e5;
}
