@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.main1 {
  padding: 0% 2% 2% 2%;
  width: 90%;
  align-items: center;
  display: flex;
  // border-bottom: 0.5px solid #e5e5e5;

  // @media screen and (max-width:500px) {
  //   width:30% !important;
  // }
  // @media screen and (max-width:800px) {
  //   width:40% !important;
  // }
  // @media screen and (max-width:1000px) {
  //   width:60% !important;
  // }

}
.main {
   width: 100%;
    display: flex;
   align-items: center;
   gap: 30px;
  padding-top: 2%;
  @media screen and (max-width:800px) {
    gap: 20px !important;
    display: flex !important;
    align-items: center !important;
  }
  @media screen and (max-width:500px) {
   gap: 5px !important;
   display: flex !important;
   align-items: center !important;
 }

}

.logoimg {
  width: 90%;
}

 .link {
  width: 100%;
   display: flex;
  align-items: center;
   gap: 50px;
 @media screen and (max-width:800px) {
   gap: 20px !important;
   display: flex !important;
   align-items: center !important;
 }
 @media screen and (max-width:500px) {
  gap: 5px !important;
  display: flex !important;
  align-items: center !important;
}
}

.name {
  font-size: calc(7px + (16 - 7) * (100vw - 445px) / (1440 - 445));
  font-weight: 500;
  // line-height: 40px;
  text-decoration: none;
  color: #555555;
}
// .optionsBox {
//   position: absolute;
//   z-index: 0;
//   width: 150px;
//   background: $Tertiary-color;
//   border-radius: 10px;
//   line-height: 5px;
//   padding: 1%;
//   cursor: pointer;
// }

// .list {
//   @include fonth6;
//   font-weight: 500;
//   line-height: 10px;
//   text-decoration: none;
//   color: $fifth-color;
//   &:hover {
//     color: $Primary-color;
//   }
// }
// .optionBox {
//   display: grid;
//   width: 40%;
//   grid-template-columns: repeat(2, 1fr);
//   position: absolute;
//   z-index: 0;
//   background: $Tertiary-color;
//   border-radius: 10px;
//   line-height: 5px;
//   padding: 1%;
//   gap: 1px;
//   cursor: pointer;
// }
.buton{
  margin-top: 20px !important;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
 
}
// .btndivvset{
//   width: 100%;
//   display: flex;
// }
.butondiv {
    width: max-content !important;
  
}

.btn {
  
  color: $fifth-color !important;
  background: none !important;
  font-size: calc(11px + (16 - 11) * (100vw - 320px) / (1440 - 320)) !important;
  &:hover {
    color: $Primary-color !important;
  }
}
// .bundiv {
//   width: 100% !important;
// }
// .divheadersetting {
//    width: 100%;
//   display: flex;
//   align-items: center;
//    gap: 10px;
  
// }
// .pname {
//   @include fontbody;
//   width: fit-content !important;
//   font-weight: 500;
//   line-height: 10px;
//   text-decoration: none;
//   color: #555555;
//   cursor: pointer;
//   &:hover {
//     color: $Primary-color;
//   }
// }
// .dietting {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }
// .optionBox {
//   width: 15%;
//   height: max-content;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   position: absolute;
//   left: 75%;
//   z-index: 1;
//   background: $Tertiary-color;
//   border-radius: 10px;
//   // line-height: 5px;
//   padding: 1%;
//   cursor: pointer;
// }
// .clock{
//   padding-top: 5% !important;
// }
.navstyle{
  text-decoration: none;
}
