@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.flexdiv{
    display: flex;
   
}
.setting{
    // width:fit-content !important;
}
.side{
    width: 270px;
    height: 600px;
    overflow-y: auto;
    color: #fff;
    position: fixed;
    border-right: 1px solid #fff;
    top: 0px;
//     // height: 100vh;
   @media (max-width:500px) {
    display: none;
   }
}
.headdiv{
width: 100%;
    flex: 1;
    margin-left: 270px;
    @media (max-width:500px) {
        margin-left: 0px !important;
    }
}
.buttonsetting{

 
}
.loginset{
   
   
    width: fit-content !important;
}
.headername{
    width: 100% !important;
   
 
}