@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.form {

  width: 100%;
  height: 65px;
  border-radius: 40px;
  background: $Tertiary-color;

@media (max-width:500px) {
  
  height: max-content;
  border-radius: 10px !important;
}
    
}
.inputfield {
  padding: 10px 20px;
    display: flex;
    justify-content: center;
    
  @media screen and (max-width:800px) {
    display: grid !important;
    padding: 5px !important;
    gap: 10px !important;
  }
 
}
.inerinput {
   width: 100%;
  
  height: 50px;
   border-radius: 7px;
  border-right: 1px solid lightgrey;
  border-bottom: none;
  border-top: none;
  border-left: none;
 
  outline-style: none;

   @media screen and (max-width:500px) {
 
    border-bottom: 2px solid #e5e5e5 !important;
  
    
   }
}

.butn {
 
  width: 60%;

}
