@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.mainconainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
   @media (max-width:500px) {
    display:grid;
    grid-template-columns: repeat(0,1fr);
    width: 100% !important;
  }

}
.flex {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.divflex {
  display: flex;
  align-items: center;
  @media (max-width:500px) {
    display: grid;
  }
}
.name {
  width: 17%;
  line-height: 2px;
  color: #555555;
  cursor: pointer;
  &:hover {
    color: $Primary-color;
  }
  @media (max-width:500px) {
   display: none;
  }
}
.titleditting {
  font-size: calc(28px + (32 - 28) * (100vw - 445px) / (1440 - 445)) !important;
  font-weight: 500 !important;
  letter-spacing: 0;
  @media (max-width:500px) {
    text-align: center !important;
  }
}
.paragraaph {
  font-size: calc(16px + (19 - 16) * (100vw - 445px) / (1440 - 445)) !important;
  width: 100% !important;
  @media (max-width:500px) {
    text-align: center !important;
  }
}
.picture {
  &:hover {
    background: $Primary-color;
  
  }
  @media (max-width:500px) {
    display: none !important;
  }
}
.portion10 {
  margin-top: 20px;
  width: 100%;
  border-top: 0.5px solid #e5e5e5;
}
.divportion10flex {
  display: flex;
  padding: 6%;
  align-items: center;
  @media (max-width:800px) {
    display: grid;
    padding-top: 1% !important;
  }
}
.maindivediting{
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
}
.butontexteit {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 7%;
  @media (max-width:800px) {
    display: grid;

  }
}
.setinput{
  @media (max-width:800px) {
    width: 70% !important;
   margin-top: 30px;
   margin-left: 50px;
  }
}
.btndivedit {
  width: 200px !important;
 @media (max-width:800px) {
  margin: 0 auto !important;
 }
}
.textmap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30%;
}
.footersub {
  display: flex;
  // @media (max-width:500px) {
  //   display: grid !important;
  //   grid-template-columns: repeat(3,1fr) !important;
  // }
}
.subdivision {
  display: flex;
  padding: 4%;
  @media (max-width:500px) {
    display: grid;
  }
}
.textmapedit {
  width: 40%;
}
.t {
  font-size: calc(16px + (18 - 16) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
}
.p {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 20px !important;
  width: 90% !important;
  @media (max-width:500px) {
    width:300px !important;
  }
}
.d {
  font-size: calc(12px + (19 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
  width: 35% !important;
  &:hover {
    color: $Primary-color !important;
  }
  @media (max-width:500px) {
    width:100% !important;
  }
}
.lastdiv {
  border-top: 0.5px solid #e5e5e5;
  padding-left: 3%;
}
.background {
  background: $Primary-color !important;
  height: 80px !important;
  width: 80px !important;
  @media (max-width:800px) {
    margin-left: 130px;
  }
 
}
.picsetting {
  width: 60px !important;
  height: 50px !important;
 
}
.footer {
  border-top: 0.5px solid #e5e5e5;
}
