@import "../../styles/color.module.scss";
@import "../../styles/fontsize.scss";

.maindivv {
  width: 100%;
  background: #f4f4f4;
  display: flex;
  //  padding: 100px;
  gap: 20px;
  justify-content: center;

}

.maincontainer {
  background: #f4f4f4;
   padding: 10px;
}
.subdiv {
  height: auto;
  background: #fff;
  border-radius: 10px;
  // width: 100%;
    padding: 10px;
}
.picsetting {
  width: 64px;
  height: 64px;
  object-fit: cover;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  margin-right: 16px;
}
.name {
  font-size: calc(20px + (28 - 20) * (100vw - 445px) / (1440 - 445)) !important;
  color: #111111 !important;
  font-weight: 500 !important;
  @media (max-width:400px) {
    padding-bottom: 10px !important;
    text-align: center;
  }
}
.btnsetting {
  width: 100% !important;
  @media screen and (max-width: 440px) {
    width: 120px !important;
  }
}
.btnseting {
  width: 25% !important;
  @media (max-width:500px) {
 
    width: fit-content !important;
  }
}
.btnclasss {
  font-weight: 500 !important;
  background: none !important;
  color: $Primary-color !important;
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  @media (max-width:400px) {
    // margin-left: -20px !important;
  }
}
.btnclass {
  background: none !important;
  color: #555555 !important;
  font-weight: 400;
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  @media (max-width:350px) {
     margin-left: 30px !important;
  }
}
.btnclss {
  background: none !important;
  color: #555555 !important;
  font-weight: 400;
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  @media (max-width:450px) {
    margin-left: -15px !important;
 }
  @media (max-width:350px) {
     margin-left: 10px !important;
  }
}
.starset {
  width: 20px !important;
  height: 20px;
}
.imag{
  @media (max-width:400px) {
    display: none;
  }
}
.divflex {
  margin-top: -20px;
  margin-left: -10px;
  display: flex;
  align-items: center;
  width: 100%;
   @media (max-width:500px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    //  margin-left: -50px !important;
    
    
   }
   @media (max-width:350px) {
    grid-template-columns: repeat(2,1fr);
   
  }
}
.flexnamebn {
  display: flex;
  align-items: center;
}
.svgedit {
  fill: #555555;
  &:hover {
    fill: #f9f9f9;
  }
}
.buttonflexx {
  display: flex;
  gap: 2px;
  height: max-content;
  padding-bottom: 6%;
  border-bottom: 0.5px solid #e5e5e5;
  @media (max-width:500px) {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
  }
}
.butttonsetting {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: $Primary-color !important;
  background: $Tertiary-color !important;
  gap: 10px !important;
  border: 1px solid !important;
  &:hover {
    background: $Primary-color !important;
    color: $Tertiary-color !important;
  }
}
.btnsettting{
  width: 15% !important;
  @media (max-width:500px) {
    width: 100px !important;
 
  }
}
.midbuton {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #111111 !important;
  background: $Tertiary-color !important;
  gap: 10px !important;
  border: 1px solid #ddd !important;
  &:hover {
    background: $Primary-color !important;
    color: $Tertiary-color !important;
  }
}

.btndivsetting {
  width: 15% !important;
  @media (max-width:500px) {
    width: 100px !important;
    padding-left: 30px !important;
  }
}
.titlee {
  font-weight: 500 !important;
  font-size: calc(17px + (24 - 17) * (100vw - 320px) / (1440 - 320)) !important;
}
.para {
  color: #555555 !important;
  font-size: calc(10px + (16 - 10) * (100vw - 445px) / (1440 - 445));
  @media (max-width: 500px) {
    font-size: 10px;
   font-weight: 500 !important;
  }
}
.list {
  margin-top: -50px !important;
  color: #555555 !important;
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  font-weight: 400 !important;
  border-bottom: 0.5px solid #e5e5e5 !important;
  padding-bottom: 5% !important;
}
.pic {
  width: 40%;
  padding-left: 20%;
}

.portion2 {
  margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  //  padding: 10px;
}
.videooo {
  width: 100% !important;
}
.portion3 {
  margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  //  padding: 10px;
}
.btninner {
  color: $Primary-color !important;
  font-size: calc(11px + (14 - 11) * (100vw - 320px) / (1440 - 320)) !important;
  background: #0074560d !important;
  font-weight: 600 !important;
}
.btnouter {
  width: 20% !important;
}
.portion4 {
  
  margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  width: 100%;
    padding: 5px;
}
.tie {
  font-size: calc(22px + (24 - 22) * (100vw - 445px) / (1440 - 445)) !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  color: #111111 !important;
}
.innerdiv4 {
  padding-left: 10px;
}
.flexdivvvv {
  display: flex;
  gap: 10px;
}
.uniqueborder {
  margin-left: 5px;
  padding-left: 3%;
  height: 50px;
  border-left: 2px dashed $Primary-color;
}
.dotgol::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 7px;
  border: 2px solid $Primary-color;
  border-radius: 50%;
}
.uniqueborderedu {
  margin-left: 5px;
  padding-left: 3%;
  height: 50px;
  border-left: 2px dashed #ffd75e;
}
.dotgoledu::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  margin-top: 7px;
  border: 2px solid #ffd75e;
  border-radius: 50%;
}
.fist {
  font-size: calc(12px + (16 - 12) * (100vw - 445px) / (1440 - 445));
  color: #111111;
  font-weight: 500;
}
.first {
  font-size: calc(16px + (18 - 16) * (100vw - 445px) / (1440 - 445));
  color: #111111;
  font-weight: 500;
  line-height: 26px;
  padding-left: 4%;
}

.second {
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445));
  font-weight: 500;
  color: $Primary-color;
  margin-top: -7px;
}
.date {
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445));
  color: #555555;
  margin-top: -7px;
}
.last {
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445));
  color: #555555;
   margin-top: -7px;
  width: 100%;
}
.portion5 {
  margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  //  padding: 10px;

  .divsettings {
  padding: 10px;
    // width: 100%;
  }
}
.portion6 {
  margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  //  padding: 10px;
}
.portionreview {
   margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  width: 100%;
  //  padding: 10px;
  @media (max-width:500px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.butneditngs {
  border: none;
  background: none;
  font-size: 25px;
  color: #fff;
}
.flexbtnstar {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: $Primary-color;
  width: max-content;
}
.flexbstar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.review {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
.lastt {
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  color: #555555 !important;
  font-weight: 500 !important;
  display: block !important;
}
.progressbarr {
  height: 8px;
  border-radius: 10px;
  background: white;
}
.progressbarr::-webkit-progress-value {
  background-color: $Primary-color;
}
.progressrating {
  margin-top: -20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mapprogress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 0.5px solid #e5e5e5;
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.flexbn {
  display: flex;
  margin-top: 20px;
}
.nam {
  font: 16px;
  color: #555555;
  line-height: 1px;
}
.month {
  font: 16px;
  color: #999999;
}
.lastportion {
  border-bottom: 0.5px solid #e5e5e5;
}
.portion8 {
  width: 30%;
//  padding: 10px;
 margin-top: 10px;
  height: max-content;
  background: #fff;
  border-radius: 10px;
  // width: 50%;
  @media screen and (max-width: 800px) {
    display: none !important;
    background: none !important;
  }
}
.portion8subdiv {
 
   padding: 10px;
}
.price {
  font-size: calc(14px + (16 - 14) * (100vw - 445px) / (1440 - 445)) !important;
  color: $Primary-color !important;
  font-weight: 500 !important;
  display: block !important;
}
.divportion10flex {
  display: flex;
  padding: 6%;
  align-items: center;
}
.butontexteit {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding-left: 7% !important;
}
.btndivedit {
  width: 200px !important;
}
.textmap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 30%;
}
.footer {
  border-top: 0.5px solid #e5e5e5;
}
.footersub {
  display: flex;
}
.subdivision {
  display: flex;
  padding: 4%;
}
.textmapedit {
  width: 40%;
}

.t {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
}
.p {
  font-size: calc(12px + (18 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 20px !important;
  width: 90% !important;
}
.d {
  font-size: calc(12px + (19 - 12) * (100vw - 445px) / (1440 - 445)) !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: black !important;
  width: 35% !important;
  &:hover {
    color: $Primary-color !important;
  }
}
.lastdiv {
  border-top: 0.5px solid #e5e5e5;
  padding-left: 3%;
}
.background {
  background: $Primary-color !important;
  height: 80px !important;
  width: 80px !important;
}
.picsing {
  width: 60px !important;
  height: 50px !important;
}
.portion10 {
  border-top: 0.5px solid #e5e5e5;
}
.titleding {
  font-size: calc(24px + (32 - 24) * (100vw - 445px) / (1440 - 445)) !important;
}
.paragraaaph {
  font-size: calc(10px + (19 - 10) * (100vw - 445px) / (1440 - 445)) !important;
  width: 100% !important;
}
